<mat-toolbar style="background-color:white; color:458FF6" class="shadow">
    <img src="assets/img/logo2.png" alt="" class="p-5 " style="max-width: 10%;">
    <div class="spacer">

    </div>
    <a mat-button routerLink="home">Inicio</a>
    <a mat-button routerLink="servicio">Servicio</a>
    <a mat-button routerLink="paciente">Paciente</a>
    <a mat-button routerLink="preguntas">Preguntas frecuentes</a>
    <a mat-button routerLink="about">Acerca de</a>
    <a mat-raised-button style="background-color:#458FF6; color:white" routerLink="registrarse">Registrarse</a>


</mat-toolbar>